body {
    background-color: #B0C4DE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
}

h1,
h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Permanent Marker', cursive;
    border: 1px solid #473C8B (211, 87, 30);
    width: 200px center;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px;
    color: #191970;
    margin: auto;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
}

.css3button {
    font-family: "Aleo", "serif";
    font-size: 14px;
    color: #000000;
    padding: 10px 20px;
    background: -webkit-gradient( linear, left top, left bottom, from(#836FFF), to(#00BFFF));
    border-radius: 10px;
    border: 1px solid #0b002b;
    box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

#style-title {
    font-size: 40px;
}

#deslocamento {
    padding: 3px 5px;
    width: 50px;
    font-size: 15px;
}

div.button {
    top: 140px;
    width: 100vw;
}

#msg {
    padding: 10px 20px;
    width: 50vw;
    margin: auto;
}

#resultCode {
    color: #c71585;
}

#resultDecode {
    color: #4B0082;
}